body {
  background: #eee;
  font-family: "Open Sans", sans-serif;
  color: rgb(61,61,61)
}

header {
  padding:30px 0;
  background: #fff
}

h1 {
  color:#803c3c
}

.cta {
  background: rgba(83, 65, 48, 1) !important;
  color:#fff;
}

.cta p { 
  margin: 0; 
  padding:5px 0px; 
}

.cta a {
  color:#fff;
  text-decoration: underline;
}

.btn-primary {
  border-color: rgba(83, 65, 48, 1) !important;
  background: rgba(83, 65, 48, 1) !important;
}

.btn-primary:hover {
  background: rgb(188, 167, 145)
}

#contacts {
  padding: 20px 0;
  background: #3e3e40;
  color:#fff
}

#contacts a {
  color:#fff
}

footer {
  padding: 20px 0;
}

footer p {
  margin: 0
}