body {
  background: #eee;
  font-family: "Open Sans", sans-serif;
  color: rgb(61,61,61)
}

header {
  padding:30px 0;
  background: #fff
}

h1 {
  color:#803c3c
}

.cta {
  background: rgba(83, 65, 48, 1) !important;
  color:#fff;
}

.cta p {
  margin: 0;
  padding:5px 0px;
}

.cta a {
  color:#fff;
  text-decoration: underline;
}

.btn-primary {
  border-color: rgba(83, 65, 48, 1) !important;
  background: rgba(83, 65, 48, 1) !important;
}

.btn-primary:hover {
  background: rgb(188, 167, 145)
}

#contacts {
  padding: 20px 0;
  background: #3e3e40;
  color:#fff
}

#contacts a {
  color:#fff
}

footer {
  padding: 20px 0;
}

footer p {
  margin: 0
}

.home .jumbotron {
  display: block;
  position: relative;
  background: none;
  color:#fff;
  margin-bottom:2px;
}

.home .jumbotron h1 {
  color:#fff;
}

.home .jumbotron::before {
  content: "";
  background: #b20000 url(../i/bg.jpg) repeat-x bottom left;
  opacity: 0.65;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

@media screen and (max-width:500px) {
  header {
    padding: 10px 0 0 0
  }
  header img {
    max-width: 70%;
    max-height:70%;
  }
  .jumbotron h1 {
    font-size: 2rem;
    line-height:1.9rem;
  }
}
